body {
    margin: 0 4em;
    font-family: 'Poppins', sans-serif;
    
}

.title {
    margin: 12px 22px;
    padding: 10px 10px;
}

.container {
    border: 2px gray solid;
    margin: 10px 30px;
    padding: 10px 20px;
    width: auto;
    
    
    
    
}

.container h2 {
    margin: 10px auto;
    padding: 10px 0;
    /* background-color: gray; */
    
    
    
}


/* Colors box */

.color-panel {
    margin: 5px 5px 5px auto;
    padding: 10px 10px;
    border-radius: 5px;    
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
}

.color-blue {
    background-color: rgba(45, 93, 204, 1);
    width: 10em;
    height: 10em;
}

.color-pink {
    background-color: rgba(217, 87, 217, 1);
    width: 10em;
    height: 10em;
}

.color-mint-green {
    background-color: rgba(79, 224, 176, 1);
    width: 10em;
    height: 10em;
}

.color-beige {
    background-color: rgba(239, 217, 202, 1);
    width: 10em;
    height: 10em;
}  

.color-label {   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.color-hex {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
} 

/* Fonts box */

.font-container {
    margin: 5px auto;    
    display: grid;
    grid-auto-rows: auto;

}

.font-panel {
    /* background-color: beige; */
    margin: 5px 0;
    
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}